---
import { getCollection } from "astro:content";
import SiteLayout from "../layouts/SiteLayout.astro";
import Sprite from "../img/sprite.svg";
import GitHubIcon from "../img/github.svg";
import Post from "../components/Post.astro";
import Series from "../components/Series.astro";
const posts = (await getCollection("posts"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 5);
const projects = (await getCollection("projects"))
  .sort((a, b) => Number(a.data.order) - Number(b.data.order))
  .slice(0, 2);
const series = (await getCollection("series"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 3);
---

<SiteLayout
  title="Home"
  excerpt="Front-end developer and writer, writing about web development, including CSS, accessibility, JavaScript, and WordPress."
>
  <Sprite />
  <h1 class="screen-reader-text">Home</h1>

  <section class="home-intro">
    <div class="intro">
      <p class="title">Front-End Developer + Writer</p>
      <p>Making the web more human.</p>
    </div>
  </section>

  <div class="home-contain">
    <section class="home-posts">
      <div class="wrapper">
        <div class="home-section-header">
          <h2>Latest Posts</h2>
        </div>
        <div id="home-post-list-heading" class="home-post-list">
          <ul
            class="post-list"
            role="list"
            aria-labelledby="home-post-list-heading"
          >
            {posts.map((post) => <Post post={post} />)}
          </ul>
          <a class="more" href="/posts">All Posts<svg class="more-icon" width="9" height="14"><use xlink:href="#arrow"></use></svg></a>
        </div>
      </div>
    </section>

    <section class="home-projects">
      <div class="wrapper">
        <div class="home-section-header">
          <h2>Selected Projects</h2>
        </div>
        <div class="home-project-list">
          <ul class="project-list" role="list">
            {
              projects.map((project) => (
                <li>
                  <div class="project-info">
                    <h3 class="project-title">
                      <a class="project-link" href={project.data.external_url}>
                        {project.data.title}
                      </a>
                    </h3>
                    <p class="project-desc">{project.data.description}</p>

                    <a class="project-github" href={project.data.github_url}>
                      <GitHubIcon />
                      <span class="screen-reader-text">
                        {project.data.title} repository on GitHub
                      </span>
                    </a>
                  </div>
                </li>
              ))
            }
          </ul>
          <a class="more" href="/projects">All Projects<svg class="more-icon"><use xlink:href="#arrow"></use></svg></a>
        </div>
      </div>
    </section>

    <section class="home-writing">
      <div class="wrapper">
        <div class="home-section-header">
          <h2>Writing</h2>
        </div>
        <div class="home-writing-list">
          <ul class="series-list" role="list">
            {series.map((seriesItem) => <Series series={seriesItem.data} />)}
          </ul>
          <a class="more" href="/writing">All Writing<svg class="more-icon"><use xlink:href="#arrow"></use></svg></a>
        </div>
      </div>
    </section>
  </div>
</SiteLayout>
