---
import SiteLayout from "./SiteLayout.astro";
const { isHomepage, title, series, backgroundColor, count } = Astro.props;
const seriesSlug = series ? series.toLowerCase().replace(/\s+/g, '-') : '';
import '../sass/writing.scss';
---

<SiteLayout title={title} type="story" background={backgroundColor}>
	<nav class="breadcrumbs" aria-label="Breadcrumb">
		<ol>
			<li><a href="/writing/">Writing</a></li>
			<li><a href=`/writing/${seriesSlug}`>{series}</a></li>
		</ol>
	</nav>

	<article class="story-container">
		{!isHomepage ? (
			<header class="story-header">
				<h1 class="story-title">{title}</h1>
				<p class="story-count">{count}</p>
				<p class="story-series">{series}</p>
			</header>
		) : null}

		<div class="story-content">
			<slot />
		</div>

		<!-- {% assign previousPost = collections.nightlight | getPreviousCollectionItem %}
		{% assign nextPost = collections.nightlight | getNextCollectionItem %}
		<nav class="story-nav">
			{% if previousPost %}
			<div class="story-nav-prev">
			<a href="{{ previousPost.url }}">
				<p>Previous:</p>
				<p class="story-title">{{ previousPost.data.title }}</p>
			</a>
			</div>
			{% endif %}
			{% if nextPost %}
			<div class="story-nav-next">
			<a href="{{ nextPost.url }}">
				<p>Next:</p>
				<p class="story-title">{{ nextPost.data.title }}</p>
			</a>
			</div>
			{% endif %} -->
		</nav>
	</article>
</SiteLayout>

<style>
  .type-story {
	background-color: `${backgroundColor}`;
  }
</style>
